html, body {
    height: 100%;
    background-color: #000000;
    background-image: url(../img/hero-red.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    
}

html {
    overflow-x: hidden;

    
    
}

html p {
    font-family: 'Share Tech Mono', monospace;
    text-align: justify;
    text-shadow: 1px 1px black;
    font-size: 1rem;
}

body {
    font-family: 'Share Tech Mono', monospace;
    text-shadow: 1px 1px black;
}

.navbar {
    font-family: 'Share Tech Mono', monospace;
    align-items: center;
    text-shadow: 1px 1px black;
    
}


.herotest {
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-attachment: scroll;
    
    font-family: 'Share Tech Mono', monospace;
    text-shadow: 1px 1px black;
    height: 100%;
    
}


.carrusel-box {
    display: flex;
    background: rgba(82, 105, 209, 0.1);
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.box-works {
    display: flex;
    background: rgba(112, 29, 64, 0.349);
    height: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;

}



@media screen and (min-width: 601px) {
    .h1-resp {
        font-size: 3.5rem;
        color: white;
        text-shadow: 2px 2px black;
    }

    html h2 {
    font-family: 'Share Tech Mono', monospace;
    text-shadow: 1px 1px black;
    color: white;
    font-size: 3rem;


    }

}
@media screen and (max-width: 600px) {
    .h1-resp {
        font-size: 1.7rem;
        color: white;
        text-shadow: 2px 2px black;
        
    }

    html h2 {
    font-family: 'Share Tech Mono', monospace;
    text-shadow: 1px 1px black;
    color: white;
    font-size: 1.6rem;
    }

}

.footer-rrss {
    background-color: rgba(42, 153, 102, 0.8);
    height: 80px;
    display: flex;
    justify-content: center;
    
}





a {
    text-decoration: none;
}

.box-shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }


header {
    position: fixed;
    top: 0;
    left 0;
    width: 100%;;
}
  